head
  title= title
  meta(name="description" content="Draw some feelings!")
  link(id="favicon" rel="icon" href="https://hyperdev.com/favicon.ico" type="image/x-icon")
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible" content="IE=edge")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  script(src="https://button.glitch.me/button.js") //- add data-style="glitch" to get the default stylesheet
  link(rel="stylesheet" href="/style.css")
  
body
  h1
    a(class="button" href="/honk") update books!


script(src="client.js")
