// write fancy styles using Stylus
// http://stylus-lang.com

// Don't worry about vendor-prefixing anything
// https://github.com/postcss/autoprefixer

// Happy styling!

//@import '../node_modules/dragula/dist/dragula.css'

$sans-serif = -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif
primary-color = teal
link-color = blueviolet

body
  font-family: $sans-serif
  margin-top: 20px
  padding-left: 15px
  padding-right: 15px

h1
  color: primary-color

a
  color: link-color